@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

header{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: yellow;
    text-shadow: 2px 2px black;
    text-align: center;
    margin-bottom: 10px;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;

}

main{
    background-image: url("../IMG/fondo-matrix.jpg");
}